@import "./components/Navigator/navigator";
@import "./pages/Pokedex/Pokedex.scss";
@import "./pages/Pokedex-list/Pokedex-list.scss";
@import "./pages/SinglePokemon/singlePokemon";


.App {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


